.text-gradient{
    background: linear-gradient(to right, #FDF6B2, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient2 {
    background: linear-gradient(to right, #facc15, #f97316, #dc2626); /* vàng → cam → đỏ */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}